* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 100px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  height: 100%;
}

.trybewarts-login {
  display: flex;
  align-items: stretch;
  flex-basis: 700px;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.header-input {
  font-size: 22px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 12px;
}

.header-button {
  font-size: 20px;
  padding: 5px 15px;
  cursor: pointer;
  background-color: rgb(100, 44, 169);
  border: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
  border-radius: 12px;
}

.header-button:hover {
  background-color: rgb(62, 23, 109);
}

#trybewarts-header-title {
  text-transform: uppercase;
  line-height: 100%;
  color: white;
}

.main {
  display: flex;
  padding: 50px 20px;
  justify-content: space-evenly;
}

.evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.evaluation-form-input-area {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.evaluation-form-label {
  margin-bottom: 10px;
}

.evaluation-form-input {
  font-size: 22px;
  border: none;
  outline: none;
  border-bottom: 5px solid gray;
  padding: 5px 10px;
  transition: all ease-in-out 0.5s;
}

.evaluation-select-area {
  border-bottom: 5px solid gray;
  position: relative;
}

.evaluation-form-input:hover , .evaluation-select-area:hover {
  border-bottom-color: rgb(100, 44, 169);
}

.evaluation-form-select {
  appearance: none;
  position: relative;
  font-size: 22px;
  border: none;
  outline: none;
  margin-bottom: 5px;
  width: 100%;
}

.evaluation-select-area:before , .evaluation-select-area:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 5px;
  background-color: gray;
  transition: all ease-in-out 0.2s;
  z-index: 1000;
  top: 14px;
}

.evaluation-select-area:before {
  transform: rotateZ(30deg);
  right: 19px;
}

.evaluation-select-area:after {
  transform: rotateZ(-30deg);
  right: 8px;
}

.evaluation-select-area:hover:before {
  background-color: rgb(62, 23, 109);
}

.evaluation-select-area:hover:after {
  background-color: rgb(62, 23, 109);
}
